{
  "plugins": ["prettier-plugin-tailwindcss"],
  "singleQuote": true,
  "semi": false,
  "overrides": [
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "parser": "mdx",
        "proseWrap": "preserve"
      }
    }
  ]
}
